# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules/

# build directories
dist/
build/

# dotenv environment variables files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.code-workspace
.gemini/
